/*--------------------------------------____FONTS____--------------------------------------------------*/
@font-face{
    font-family: Muli;
    src: url(fonts/Muli/Muli-Light.ttf);
}


body{
    overflow-x: hidden;
    margin:0px;
        background-image:url(bg-dark-4776.jpg);
}
/*--------------------------------------____HEADER____--------------------------------------------------*/
#mobileVers{
    display: none;
}
a{
    color: white;
    text-decoration: none;
}
header{
    background-image: url(ava.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
header > a:nth-of-type(1){
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 20px;
    background-image: url(iconNetworks/instagram-1icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height:50px;
    border: 2px solid white;
    border-radius: 40px;
}
header > a:nth-of-type(2){
    z-index: 9999;
    position: fixed;
    top: 60%;
    left: 20px;
    background-image: url(iconNetworks/my-life-white-facebook-and-google-logo-28.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height:50px;
    border: 2px solid white;
    border-radius: 40px;
}
header > a:nth-of-type(3){
    z-index: 9999;
    position: fixed;
    top: 70%;
    left: 20px;
    background-image: url(iconNetworks/vk.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height:50px;
    border: 2px solid white;
    border-radius: 40px;
}
header > a:nth-of-type(4){
    position: fixed;
    top: 85%;
    right: 40px;
    z-index: 9999;
    background: #FAF433;
    background-image: url(iconNetworks/call.svg);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height:80px;
    border-radius: 70px;
    box-shadow: 0px 0px 40px #FAF433;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    
}
header > a:nth-of-type(4):hover{
    transform: scale(1.2);
}


header > a:nth-of-type(1):hover{
    background-image: url(iconNetworks/yellow/instagram-1icon_yellow.svg);
    border: 2px solid #FAF433;
}
header > a:nth-of-type(2):hover{
    background-image: url(iconNetworks/yellow/facebook_yellow.svg);
    border: 2px solid #FAF433;
}
header > a:nth-of-type(3):hover{
    background-image: url(iconNetworks/yellow/vk_yellow.svg);
    border: 2px solid #FAF433;
}
.a{
position: fixed;
z-index: 9999;
right: 78px;  
top: 350px;
width: 15px;
height: 15px;
background-image: url(anchor/anchorSmall.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
}
.a:nth-of-type(2){
    top:368px;
}
.a:nth-of-type(3){
    top:386px;
}
.a:nth-of-type(4){
    top:404px;
}
.a:nth-of-type(5){
    top:422px;
}
/*----------------------------------------____MENU____----------------------------------------------*/
nav{
    position: relative;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
}
nav > a{
position: absolute;
width: 160px;
    background-repeat: no-repeat;
    background-size: contain;
}
nav > a:nth-of-type(1){
    position: absolute;
    top: 25%;
    width: 160px;
    height: 40px;
    left: 7%;
    background-image: url(menu/stronaGlowna.svg);
}
nav > a:nth-of-type(2){
    left: 24%;
    top: 25%;
       height: 40px;
    background-image: url(menu/kontakt.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

nav > a:nth-of-type(3){
    top: 0px;
    left: 42%;
    width: 200px;
       height: 80px;
    background-image: url(menu/logo.svg);
}
nav > a:nth-of-type(4){
    left: 67%;
    top: 15%;
       height: 50px;
    background-image: url(menu/onas.svg);
}
nav > a:nth-of-type(5){
    left: 82%;
    top:25%;
       height: 40px;
    background-image: url(menu/zamowic.svg);
}

nav > a:nth-of-type(1):hover{
        background-image: url(menu/yellow/stronaGlowna_yellow.svg);
}
nav > a:nth-of-type(2):hover{
       background-image: url(menu/yellow/kontakt_yellow.svg);
}

nav > a:nth-of-type(3):hover{
       background-image: url(menu/yellow/logo_yellow.svg);
}
nav > a:nth-of-type(4):hover{
       background-image: url(menu/yellow/onas_yellow.svg);
}
nav > a:nth-of-type(5):hover{
       background-image: url(menu/yellow/zamowic_yellow.svg);
}

/*----------------------------------------____FIRST SECTION____----------------------------------------------*/
body > section{
    width: 100%;
    height: 100%;
    position: relative;
    margin:0px;
    font-family: Muli;
    margin-bottom: 30%;
        color: #e6e6e6;
}
body > section:nth-of-type(1) > img{
    position: absolute;
    top: 35%;
    right: 12%;
}
body > section > h2{
    color: white;
    position: absolute;
    font-size: 50px;

    top: 5%;
    left: 38%;
}
body > section:nth-of-type(1) > h2{
    top: 20%;
    left: 38%;
}
body > section:nth-of-type(1) > div{ 
position: absolute;
width: 40%;
left:10%;
}
body > section:nth-of-type(1) > div:nth-of-type(1){
    top: 40%;
}
body > section:nth-of-type(1) > div:nth-of-type(2){
    top: 68%;
}
body > section:nth-of-type(1) > div:nth-of-type(3){
    top: 90%;
}

/*----------------------------------------____SECOND SECTION____----------------------------------------------*/
body > section:nth-of-type(2) > div{
    position: relative;
    width: 70%;
    left: 15%;
    top: 20%;
}
body > section:nth-of-type(2) > div > ul{
    margin-left:10%;
}
body > section:nth-of-type(2) > h2{
    font-size: 40px;
    top: -5%;
    left: 30%;
}
/*----------------------------------------____THIRD SECTION____----------------------------------------------*/

body > section:nth-of-type(3) > div > div{

    width: 300px;
    height: 400px;
    background-image: url(tastes/pomegranate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid black;
    box-shadow: 0px 0px 20px #AE3120;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
body > section:nth-of-type(3) > div > div:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
body > section:nth-of-type(3) > div:nth-of-type(2) > div{
    background-image: url(tastes/blueberries.jpg);
    box-shadow: 0px 0px 20px #454F79;
}
body > section:nth-of-type(3) > div:nth-of-type(3) > div{
    background-image: url(tastes/watermelon.jpg);

}
body > section:nth-of-type(3) > div{
        position: absolute;
    font-size: 25px;
    text-align: center;
    color: white;
    left: 125px;
    top: 25%;
}
body > section:nth-of-type(3) > div:nth-of-type(2){
    left: 525px;   
}
body > section:nth-of-type(3) > div:nth-of-type(3){
    left: 925px;   
}
body > section:nth-of-type(3) > h2{
    margin-top: -5%;
}

/*----------------------------------------____FORTH SECTION____----------------------------------------------*/

body > section:nth-of-type(4) > div > div{

    width: 300px;
    height: 300px;
    background-image: url(additionally/kola);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 10px solid black;
    box-shadow: 0px 0px 20px #AE3120;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
body > section:nth-of-type(4) > div > div:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
body > section:nth-of-type(4) > div:nth-of-type(2) > div{
    background-image: url(additionally/bokeh.jpg);
 
    box-shadow: 0px 0px 20px #E4432D;
}
body > section:nth-of-type(4) > div:nth-of-type(3) > div{
    background-image: url(additionally/wine.jpg);
    box-shadow: 0px 0px 20px #E4432D;
}
body > section:nth-of-type(4) > div:nth-of-type(4) > div{
    background-image: url(additionally/fresh);
    box-shadow: 0px 0px 20px #FCD94B;
}
body > section:nth-of-type(4) > div:nth-of-type(5) > div{
    background-image: url(additionally/milk.jpeg);
    box-shadow: 0px 0px 20px #E5E4E0;   

}
body > section:nth-of-type(4) > div:nth-of-type(6) > div{
    background-image: url(additionally/viski);
    box-shadow: 0px 0px 20px #F18F30;

}

body > section:nth-of-type(4) > div{
        position: absolute;
    font-size: 25px;
    text-align: center;
    color: white;
    left: 125px;
    top: 25%;
    }
body > section:nth-of-type(4) > div:nth-of-type(2){
    left: 525px;   
}
body > section:nth-of-type(4) > div:nth-of-type(3){
    left: 925px;   
}
body > section:nth-of-type(4) > h2{
    margin-top: 0%;
}
body > section:nth-of-type(4) > div:nth-of-type(4){
    top: 95%;
    left: 525px;   
}
body > section:nth-of-type(4) > div:nth-of-type(5){
    top: 95%;
    left: 925px;   
}
body > section:nth-of-type(4) > div:nth-of-type(6){
    top: 95%;
   left: 125px;
   
}

/*----------------------------------------____FOOTER____----------------------------------------------*/
footer{
    margin-top: 500px;
    margin-bottom: 0;
    background: black;
    height: 80px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
footer > div >img{
    width: 70px;
    height: 70px;
}
footer p{
    align-self: center;
    color: white;
    text-align: center;
    
}

/*----------------------------------------____2560 x 1400____----------------------------------------------*/
@media screen and (min-width: 2000px ){

    /*----------------------------------------____FIRST SECTION____----------------------------------------------*/    
    body > section:nth-of-type(1) > img{
        top: 38%;
        right: 5%;
    width: 35%;
}
body > section > h2{
    font-size: 70px;
    left: 40%;
}
body > section:nth-of-type(1) > div{ 
width: 55%;
font-size: 32px;
}
body > section:nth-of-type(1) > div:nth-of-type(1){
    top: 40%;
}
body > section:nth-of-type(1) > div:nth-of-type(2){
    top: 75%;
}
body > section:nth-of-type(1) > div:nth-of-type(3){
    top: 105%;
}
    #tastes{
        left: 6%;
    }
    #tastes > h2{
        left: 40%;
    }
    #tastes > div > div{
    width: 500px;
    height: 600px;
    }
    #tastes > div{
        font-size: 32px;
    }
    #additionally{
        left: 6%;
    }
    #additionally > h2{
        left: 40%;
    }
    #ordering{
    left: 10%;
    font-size: 32px;
}
    body > section:nth-of-type(3) > div:nth-of-type(2){
    left: 725px;   
}
body > section:nth-of-type(3) > div:nth-of-type(3){
    left: 1325px;   
}
 body > section:nth-of-type(4) > div > div{

    width: 500px;
    height: 500px;
    }
     body > section:nth-of-type(4) > div{
         font-size:32px;
    }
    body > section:nth-of-type(4) > div:nth-of-type(2){
    left: 725px;   
}
body > section:nth-of-type(4) > div:nth-of-type(3){
    left: 1325px;   
}

body > section:nth-of-type(4) > div:nth-of-type(4){
    left: 725px;   
}
body > section:nth-of-type(4) > div:nth-of-type(5){
    left: 1325px;   
}
body > section:nth-of-type(4) > div:nth-of-type(6){
   left: 125px;
   
}
}

@media screen and (min-width: 1600px) and (max-width: 1999px){


        body > section:nth-of-type(1) h2{
        left: 40%;
    }
    body > section:nth-of-type(1) > img{
    width: 35%;
    right: 5%;
}    
body > section > h2{
    font-size: 70px;
    left: 40%;
}
body > section:nth-of-type(1) > div{ 
width: 60%;
font-size: 15px;
left: 15%;
}

    #tastes{
        left: 15%;
    }
    #tastes > h2{
        left: 30%;
    }
    #additionally{
        left: 15%;
    }
    #additionally > h2{
        left: 30%;
    }
    #ordering{
    left: 10%;
}
    
    }


@media screen and (min-width: 576px) and (max-width: 1024px){
    body > section:nth-of-type(1) > div{ 
width: 60%;
font-size: 15px;
left: 10%;
}
    body > section:nth-of-type(1) > img{
    width: 40%;
    right: 1%;
}
    nav a:nth-of-type(1){
        left: 20px;
    }
    
    header{
            height: 80%;
    }
    body > section:nth-of-type(3) > div{

    }
    body > section:nth-of-type(3) > h2{
        left: 35%; 
    }
    body > section:nth-of-type(3) > div > div{
        width:250px;
        height: 350px;
        left: 20px;

    }
    body > section:nth-of-type(3) > div:nth-of-type(1){
        text-align: left;
    }
        body > section:nth-of-type(3) > div:nth-of-type(1) > p{
        margin-left: 30px;
    }
    body > section:nth-of-type(3) > div:nth-of-type(2){
    left: 450px;
    text-align: right;
}
body > section:nth-of-type(3) > div:nth-of-type(3){
    top: 400px;
    left: 280px;
    text-align: center;
}
            body > section:nth-of-type(3) > div:nth-of-type(2) > p{
        margin-right: 30px;
    }
    body > section:nth-of-type(4) > div > div{
        width: 250px;
        height: 250px;
    }
    body > section:nth-of-type(4) > div{
    left: 100px;
    top: 200x;
}
body > section:nth-of-type(4) > div:nth-of-type(2){
    left: 470px;   
}
body > section:nth-of-type(4) > div:nth-of-type(3){
    top: 550px;
    left: 100px;   
}
body > section:nth-of-type(4) > div:nth-of-type(4){
    top: 550px;
    left: 470px;   
}
body > section:nth-of-type(4) > div:nth-of-type(5){
    top: 1000px;
    left: 100px;   
}
body > section:nth-of-type(4) > div:nth-of-type(6){
    top: 1000px;
   left: 470px;
   
}
    footer{
        margin-top: 700px;
    }
}

@media screen and (max-width: 575px){
    *{
        margin: 0;
    }
    
    body{
        font-family: Muli;
        overflow-x: hidden;
        
    }
    #firstDivMobile{
        margin-top: 50px;
        width: 100%;
        height: 500px;
        background-image: url(ava.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    footer{
display: none;
    }
    header{
        display: none;
    }
    nav{
        display: none;
    }
    section{
        display: none;
    }
    #mobileVers{
        display:block;
    }
    #mobileVers > div:nth-of-type(5) > div {
        width: 100%;
        background-image: url(additionally/kola.jpg);
        background-size: cover;
        height: 150px;
        padding-top: 40px;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    #mobileVers > div:nth-of-type(5) > div:nth-of-type(2){
          background-image: url(additionally/bokeh.jpg);

    }
        #mobileVers > div:nth-of-type(5) > div:nth-of-type(3){
        background-image: url(additionally/wine.jpg);
    }
        #mobileVers > div:nth-of-type(5) > div:nth-of-type(4){
      background-image: url(additionally/viski.jpg);
    }
        #mobileVers > div:nth-of-type(5) > div:nth-of-type(5){
        background-image: url(additionally/fresh);
    }
        #mobileVers > div:nth-of-type(5) > div:nth-of-type(6){
                    background-image: url(additionally/milkMobile.jpg);
    }

    #mobileVers > div:nth-of-type(5) > div p{
        font-size: 30px;
        text-align: center;
        color: white;
           font-family: Muli;
    }
    #mobileVers > div:nth-of-type(5) > div:hover{
        height: 200px;
    }

    
    #secondDivMobile{
        position: relative;
        background: #454649;
        border-left: 10px dashed #000000;
        display: flex;
        justify-content:space-around;
        color: white;
                box-shadow: 10px 0px 50px black;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: auto;
    }
    #secondDivMobile div{
        margin-top: 0px;
        width: 70px;
        height: 70px;
        
    }
    #secondDivMobile div img{
        width: 100%;
        height: 100%;
    }
        #secondDivMobile div p{
        margin-top: 20px;
        width: 100%;
        font-size: 10px;
        text-align: center;
    }
    
    #thirdDivMobile{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #thirdDivMobile div{
        background-image: url(tastes/watermelon.jpg);
        background-repeat: repeat-x;
        background-size: cover;
        height: 100px;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
                box-shadow: 10px 0px 50px black;
    }
        #thirdDivMobile div:nth-of-type(2){
        background-image: url(tastes/blueberries.jpg);
    }
            #thirdDivMobile div:nth-of-type(3){
        background-image: url(tastes/pomegranate.jpg);

    }
    #thirdDivMobile div:hover{
        height: 150px;
    }
    #mobileHeader{
        top:0px;
        width: 100%;
        height: 70px;
        background: rgba(0,0,0,0.8);
        position: fixed;
        display: flex;
        justify-content: space-around;
        
    }
    #mobileHeader div{
        padding: 0px;
        padding-top: 20px;
        
    }
    #mobileHeader img{
    
        width: 5%;
        
    }
    #mobileHeader a{
        font-size: 20px;
    }
    #mobileHeader img:nth-of-type(2){
        width: 25%;
    }
    #callMobile{
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 9999;
    background: #FAF433;
    background-image: url(iconNetworks/call.svg);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height:80px;
    border-radius: 70px;
    box-shadow: 0px 0px 40px #FAF433;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    
}
#callMobile:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    h2{
color: white;
text-align: center;
margin-bottom: 30px;
    }
    #mobileMenu{
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);
        position: fixed;
        z-index: 10000;
        color: white;
        padding: 100px 20px;
    }
    #mobileMenu > ul > li{
        list-style: none;
        font-size: 25px;
        margin-top: 20px;
        
    }
    #mobileMenu > ul > li:hover a{
        color: rgb(250,244,51);
        text-decoration: underline;
    }
    #closeMenuMobile{
        width: 30px;
        height: 30px;
        margin-top: -100px;
    }
    #mobileHeader > div > a:hover{
        color: rgb(250,244,51);
    }
    #closeMenuMobile:hover{
        
    }
}
